rd-loading(ng-show='loading')
.row(ng-hide='loading', style="margin-bottom: -20px;")
  .col-md-4(ng-repeat='column in config.agileColumns')
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th {{jiras[column.name].length}} {{column.name}}
    ul.list.jira-container(ui-sortable="sortableOptions", ng-model="jiras[column.name]")
      li.jira(ng-repeat="jira in jiras[column.name]")
        issue(jira="jira")